<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>{{rows}} x {{cols}} Checkboard</h1>
    <div class="board">
        {%for row in range (rows)%}
        <div class="row">
            {%for col in range (cols)%}
            <div class="box {%if (row + col)%2==0%}black{%else%}red{%endif%}"></div>
            {%endfor%}
        </div>
        {%endfor%}
    </div>
</body>
</html>