<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>{{rows}} x {{cols}} Checkboard</h1>
    <div class="board">
        {%for row in range (rows)%}
        <div class="row">
            {%for col in range (cols)%}
            <div class="box" style="background-color: {{ color1 if (row + col) % 2 == 0 else color2 }}"></div>    
            {%endfor%}
        </div>
        {%endfor%}
    </div>
</body>
</html>

<!-- if rows=2,cols=3 -->
<!-- <div class="board">
    <div class="row">
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
    </div>
    <div class="row">
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
    </div>
</div> -->
