<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>Iam thinking of a number between 1 and 100.</p>
    <div class="result">
         Correct! {{number}} was the number!
    </div>
    <form action="/" method="get">
        <button>Play again</button>
    </form>
</body>
</html>