<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
</head>

<body>
    <img src="{{ url_for('static', filename='img/strawberry.png') }}" alt="strawberry">
    <img src="{{ url_for('static', filename='img/raspberry.png') }}" alt="raspberry">
    <img src="{{ url_for('static', filename='img/apple.png') }}" alt="Apple">
    <img src="{{ url_for('static', filename='img/blackberry.png') }}" alt="blackberry">
</body>

</html>