body{
    text-align: center;
}
.red{
    width: 200px;
    height: 100px;
    background-color: red;
    text-align: center;
    color: white;
    padding: 12px;
    margin:  auto;
}
form{
    margin-top: 30px;
}
.result{
    width: 200px;
    height: 100px;
    background-color: green;
    text-align: center;
    color: white;
    padding: 12px;
    margin:  auto;
    font-size: 25px;
}
button{
    width: 130px;
    background-color: white;
}
.total{
    font-size: 8px;
}